@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }


/* etc */

/*.row-offcanvas {
    height: 100%;
}*/

a {
    color: #000;
}

.wiz-container {
    width: 1200px;
}



/* header */

.header-line {
    height: 2px;
    background-color: #EF7500;
    /*    z-index: 99999999999999999999999999999999999999999999;*/
    position: absolute;
}

#header_wrap {

    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;

    transition: .5s height, .2s background;
	

}

#header_wrap.top_menu_06 h1 {
    overflow: hidden;
    width: 175px;
    padding-top: 12px;
    padding-left: 0px;
	float:left;
	margin-top:5px;
}

#header_wrap.top_menu_06 h1 a {
    overflow: hidden;
    display: block;
    height: 67px;
    background: url(../../img/main/logo.png) top center no-repeat;
    text-indent: -9999px;
	background-size:85%;
}


ul.top_search {display:inline-block; margin-left:200px; margin-top:30px;}
ul.top_search li {display:inline-block; font-size:13px;  }
ul.top_search li img {padding-top:5px;}
input.search {height:37px; width:450px; background:none; border:2px solid #fd6f22; }
input.search_bt {background:#fd6f22; border:0; width:50px; line-height:50px; color:#fff; font-size:16px;}

ul.top_search li.pc_search {display:inline-block;}
ul.top_search li.mobile_search {display:none;}

.top_m {width:100%;border-bottom:1px solid #ddd; padding:5px 0; }
ul.top_menu { margin-top:5px; text-align:right;}
ul.top_menu li {display:inline-block; font-size:13px; padding-left:20px; font-family:'Malgun Gothic';}
ul.top_menu li a:hover {text-decoration:none;}
ul.top_menu li:before {content: ""; position:absolute; width:1px; height:9px; background:#ddd; text-align:left; margin-left:-10px; margin-top:5px;}
ul.top_menu li:first-child:before {content: ""; position:absolute; width:0px; height:9px; background:#ddd; text-align:left; margin-left:-10px; margin-top:5px;}

ul.top_menu2 {float:right; margin-top:57px;}
ul.top_menu2 li {display:inline-block; font-size:13px; padding-left:0px; margin-left:5px;}
ul.top_menu2 li a:hover {text-decoration:none;}
ul.top_menu2 li.modify {border:1px solid #ddd; background:#f5f5f5; border-radius:20px; padding:3px 10px;}
ul.top_menu2 li.logout {border:1px solid #ddd; background:#f5f5f5; border-radius:20px; padding:3px 10px;}

@media (max-width:1000px) {
     .top_m {display:none;}
}

#header_wrap.top_menu_06 .menu_wrap {
    position: absolute;
    left: 0%;
    top: 120px;
    width: 100%;
	background:#fff;
	border-top:1px solid #d5d5d5;
	border-bottom:5px solid #fd6f22;
	height:71px;
}

#header_wrap.top_menu_06 .gnb {
    text-align: left;
    background-color: transparent;
	width: 1200px;

}

#header_wrap.top_menu_06 .gnb li {
    float: left;
    width: 130px;
    text-align: left;
}

#header_wrap.top_menu_06 .gnb li:nth-child(3) {width:150px;}
#header_wrap.top_menu_06 .gnb li:nth-child(4) {width:150px;}

#header_wrap.top_menu_06 .gnb a {
    display: inline-block;
    font-weight: 400;
    line-height: 1em;
    color: #2d2d2d;
}

#header_wrap.top_menu_06 .gnb:after {
    display: block;
    clear: both;
    content: "";
}

#header_wrap.top_menu_06 .gnb .depth1 {
    position: relative;
}

#header_wrap.top_menu_06 .gnb .depth1 > a {
    display: block;
    height: 57px;
    padding: 25px 0 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'NotoSans', 'Lato', 'Noto Sans KR', Tahoma, Geneva, sans-serif;
}

/*#header_wrap.top_menu_06 .gnb .depth1 > a:before {
    background: linear-gradient(to right, #B06AB3, #4568DC);
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    margin-top: 36px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 0%;
    transition: 0.5s;
}*/
#header_wrap.top_menu_06 .gnb .depth1 > a:hover::before {
    color: #4568DC;
    width: 80px;
}
#header_wrap.top_menu_06 .gnb .depth1 > a:hover {
    color: #4568DC;
}

#header_wrap.top_menu_06 .gnb .depth2 {
    display: none;
}

#header_wrap.top_menu_06 .top_right_menu {
    float: right;
    position: absolute;
    left:50%;
	text-align:right;
	margin-left:240px;
    margin-top: 0px;
}

#header_wrap.top_menu_06 .top_right_menu .btn-white {
    display: inline-block;
    color: #1f1f1f !important;
    transition: 0.4s;
    border-radius: 12em;
    padding-left: 33px;
    padding-right: 18px;
    font-size: 18px;
	font-weight:500;
	padding-top:3px;
	letter-spacing:-1px;
	height:50px;
	background:none;
	margin-left:30px;
}

#header_wrap.top_menu_06 .top_right_menu .btn-white:nth-child(1) {background:url(../../img/main/icon_t01.png) left 7px no-repeat;}
#header_wrap.top_menu_06 .top_right_menu .btn-white:nth-child(2) { background:url(../../img/main/icon_t02.png) left 7px no-repeat;}


/* header_hover */
#header_wrap.full_down {
    height: 420px;
    z-index: 1100;
}

#header_wrap.full_down:before {
    position: absolute;
    left: 0;
    top: 97px;
    width: 100%;
    height: 290px;
    background-color: rgb(255, 255, 255, 0.6);
    border-top: 0;
/*    border-bottom: 1px #cacaca solid;*/
    content: "";
}

#header_wrap.top_menu_06.full_down .menu_wrap {}

#header_wrap.top_menu_06.full_down .menu_wrap .gnb {
    overflow: hidden;
/*    width: 1140px;*/
    margin: 0 auto;
    text-align: left;
}

#header_wrap.top_menu_06.full_down .menu_wrap .gnb a {
    color: #666;
}

#header_wrap.top_menu_06.full_down .menu_wrap .gnb a:hover,
#header_wrap.top_menu_06.full_down .menu_wrap .gnb a:focus {
    color: #000;
    text-decoration: none;
}

#header_wrap.top_menu_06.full_down .menu_wrap .depth1 {
    overflow: hidden;
}

#header_wrap.top_menu_06.full_down .menu_wrap .depth1 > a {
    margin-bottom: 20px;
    color: #2d2d2d;
}

#header_wrap.top_menu_06.full_down .menu_wrap .depth1 > a:hover,
#header_wrap.top_menu_06.full_down .menu_wrap .depth1 > a:focus {
    color: #2d2d2d;
    text-decoration: none;
}

#header_wrap.top_menu_06.full_down .menu_wrap .depth2 {
    display: block;
    padding-top: 2px;
	padding-bottom:20px;
}

#header_wrap.top_menu_06.full_down .menu_wrap .depth2 > li {
    display: block;
}

#header_wrap.top_menu_06.full_down .menu_wrap .depth2 > li > a {
    margin-bottom:10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
    color: #333;
	letter-spacing:-1px;
}
#header_wrap.top_menu_06.full_down .menu_wrap .depth2 > li > a:hover {
    color: #fd6f23;
    padding-left: 0px;
}

#header_wrap.top_menu_06.full_down .menu_wrap .depth2 > li > a:before {
/*    content: "· "*/
}


.top_my {
    display:none;
}

@media all and (max-width:1215px){

#header_wrap.top_menu_06 .top_right_menu {
    float: right;
    top: 0;
	right:0%;
	margin-left:0px;
    margin-top: 0px;
}


ul.top_menu {float:right; margin-top:5px; }
}

.pc { display:block !important }
.mobile { display:none !important }



@media all and (max-width:1000px){
.pc { display:none !important }
.mobile {display:block !important }
.mobile img {width:100%;}

#header_wrap.top_menu_06 .top_right_menu {
    float: right;
    top: 0;
	right:0%;
    margin-top: 8px;
	margin-left:0px;
}

.individual {position:absolute; }
.servicemenu {background:#000; width:1200px; margin:0 auto;}


ul.top_menu {width:100%;float:none; margin-top:5px; text-align:center;}
ul.top_menu li {display:inline-block; font-size:15px; padding-left:20px; }
ul.top_menu li a:hover {text-decoration:none;}
ul.top_menu li:before {content: ""; position:absolute; width:1px; height:9px; background:#ddd; text-align:left; margin-left:-10px; margin-top:5px;}
ul.top_menu li:first-child:before {content: ""; position:absolute; width:0px; height:9px; background:#ddd; text-align:left; margin-left:-10px; margin-top:5px;}

ul.top_menu2 {float:none; margin-top:30px; text-align:center;}
ul.top_menu2 li {display:inline-block; font-size:15px; padding-left:0px; margin-left:5px;}
ul.top_menu2 li a:hover {text-decoration:none;}
ul.top_menu2 li.modify {border:1px solid #ddd; background:#f5f5f5; border-radius:20px; padding:3px 10px;}
ul.top_menu2 li.logout {border:1px solid #ddd; background:#f5f5f5; border-radius:20px; padding:3px 10px;}

}

@media (max-width: 1000px) {
	 ul.top_search {width:100%; text-align:center; display:block; margin-left:0px; margin-top:120px; margin-bottom:40px;}
	 input.search {height:32px; width:450px; background:#f6f6f6; border-top-left-radius:15px; border-bottom-left-radius:15px; border:0;}
	 ul.top_search li.pc_search {display:none;}
	 ul.top_search li.mobile_search {display:inline-block;}

}

@media (max-width: 767px) {
	 ul.top_search {width:100%; text-align:center; display:block; margin-left:0px; margin-top:70px;}
	 input.search {width:450px;  }

}

@media (max-width: 560px) {
	 ul.top_search {width:100%; text-align:center; display:block; margin-left:0px;}
	 input.search {width:350px;  }
}

@media (max-width: 450px) {
	 ul.top_search {width:100%; text-align:center;  margin-left:0px; }
	 input.search {width:230px; }
}

/* 모바일 메뉴 */
.sidebar-offcanvas {
    display: none;
}
.js-offcanvas-btn {
    position: absolute;
    left: 0;
    margin-right: 10px;
    top: 40px;
    background-color: transparent;
    border: 0;
}



@media(max-width:997px) {
    .menu_wrap {
        display: none;
    }
    .js-offcanvas-btn {
        display: block;
    }
    .sidebar-offcanvas { 
        display: block !important;
    }

	.top_my {
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 42px;
    background-color: transparent;
    border: 0;
	display:block;
}

}

/* 모바일 메뉴 마감 */




/* index- content */

.index-content {padding-top: 62px;	width:1200px; margin:0 auto; }

.index-01 {float:left; width:591px;}
.index-02 {float:left; width:262px; margin:0 10px;}
.index-03 {display:inline-block; width:326px;}

.main_banner {width:591px;}


.notice_area {	position:relative;	float: left;	width: 591px; border:1px solid #ddd;}

.notice_area .bx-pager {	position: absolute;	right: 30px;	top: 20px;}
.notice_area .bx-start {	position: absolute;	left: 235px;	top: 21px;	background: none;	width: 7px;	height: 7px;	font-size: 0;	*font-size: 0;	text-indent: -999px;	*text-indent: 0;}
.notice_area .bx-stop {	position: absolute;	left: 235px;	top: 21px;	background: none;	width: 7px;	height: 7px;	font-size: 0;	*font-size: 0;	text-indent: -999px;	*text-indent: 0;}
.notice_area .bx-start.active {	display: none;}
.notice_area .bx-stop.active {	display: none;}
.notice_area .bx-pager .bx-pager-item {	float: left}
.notice_area .bx-pager-link {	width: 8px;	height: 8px;	background: none;	border-radius: 8px;	margin-right: 5px;	font-size: 0;	display: inline-block;}
.notice_area .bx-pager-link.active {	background:none;}

.notice_area .bx-controls-direction {display:none; position:relative;  top: 52px; z-index:10}
.notice_area .bx-controls-direction .bx-prev{position:absolute; left:0; bottom:80px; width:53px; height:49px; font-size:0; line-height:0; background:url(../../img/main/prev.png) no-repeat;}
.notice_area .bx-controls-direction .bx-prev:hover{ background-image:url(../../img/main/prev.png)}
.notice_area .bx-controls-direction .bx-next{position:absolute; right:0; bottom:80px;width:53px; height:49px; font-size:0; line-height:0; background:url(../../img/main/next.png) no-repeat;}



.pointAreaWrap{float:left;width:50%;height:185px; border:1px solid #dedede; margin-top:10px;}
.pointAreaWrap h3{font-family: 'GmarketSansMedium'; display:inline-table;width:100%; padding-top:10px;}
.pointAreaWrap h3 a{display:table-cell;text-align:center;width:100%;height:20px;vertical-align:middle;margin-bottom:-1px;font-size:18px;letter-spacing:-.5px;color:#222}
.pointAreaWrap h3 span {color:#fd6f23;}
.pointAreaWrap .pointArea {text-align:center;}
.pointAreaWrap .pointArea .area{overflow:hidden;width:260px;margin:0 auto; padding:10px 0;}
.pointAreaWrap .pointArea .area li{float:left;width: calc(100% /6 - 7px);font-size:12px; padding-right:5px;padding-left:5px;  padding-bottom:10px; font-family:'Malgun Gothic';}
.pointAreaWrap .pointArea .area li:before {content: ""; position:absolute; width:2px; height:2px; background:#aaa; text-align:left; margin-left:-7px; margin-top:7px;}
.pointAreaWrap .pointArea .area li.start{padding-right:0px;padding-left:0;}
.pointAreaWrap .pointArea .area li.end{background:none;padding-right:0;padding-left:0px; }
.pointAreaWrap .pointArea .area li a{letter-spacing:-1px}

.pointAreaWrap .pointArea .etcArea{padding:0 22px;margin-top:6px;margin:0 auto; text-align:center;}
.pointAreaWrap .pointArea .etcArea:after,.pointAreaWrap .pointArea .etcArea:before{content:" ";display:table}
.pointAreaWrap .pointArea .etcArea:after{clear:both}
.pointAreaWrap .pointArea .etcArea li{display:inline-block; width:auto;margin-left:4px}
.pointAreaWrap .pointArea .etcArea li:first-child{margin-left:0}
.pointAreaWrap .pointArea .etcArea li a{display:block;height:31px;letter-spacing:-.5px}
.pointAreaWrap .pointArea .etcArea li a:before{content:"";width:31px;height:31px;display:inline-block;vertical-align:middle;position:relative;top:0;margin-right:5px}
.pointAreaWrap .pointArea .etcArea li a.a1:before{background:url(../../img/main/area01.png) no-repeat;}
.pointAreaWrap .pointArea .etcArea li a.a2:before{background:url(../../img/main/area02.png) no-repeat;}
.pointAreaWrap .pointArea .etcArea li a.a3:before{background:url(../../img/main/area03.png) no-repeat;}


.main_tab {display:inline-block; width:50%; min-height:185px; border:1px solid #dedede; margin-top:10px; margin-left:-1px;}
.orderpage_tabmenu_container { }
.orderpage_tabmenu {border-bottom:1px solid #dedede;margin-bottom:1px; width:50%; height: auto;display:inline-block; *display:inline; *zoom:1; font-size:18px;padding:12px 0;background-color: #fff; color:#626262; font-weight:600;text-align:center;cursor: pointer; }
.orderpage_tabmenu:nth-child(2) {margin-left:-4px;}
.orderpage_tabmenu.active {color: #fff;font-weight: 500;background-color: #fd6f23;	}
.orderpage_contents_area {padding-left:20px;}
.notice li { text-align:left; padding-bottom:5px; font-family:'Malgun Gothic';}
.notice li a {font-size:13px; color:#4d4d4d; letter-spacing:-1px;}
.notice li:before {content: ""; position:absolute; width:4px; height:4px; background:#ababab; border-radius:10px; text-align:left; margin-left:-10px; margin-top:7px;}


.index-02 {border:0px solid #dedede; }
.shortCut {width:100%; background:#fff;}
.shortCut .title_mo {text-align:center; font-family: 'GmarketSansMedium'; font-size:30px; color:#000000; padding:70px 0 0px 0; height:128px; background:#f8f8f8 url(../../img/main/money.gif) center top no-repeat;}
.shortCut ul {margin-top:10px;}
.shortCut ul li{float:left;margin-left:-1px; width:33%; text-align:center; min-height:92px; line-height:16px; letter-spacing:-1px;}
.shortCut ul li:nth-child(1) {border-bottom:1px solid #efefef;}
.shortCut ul li:nth-child(2) {border-left:1px solid #efefef;border-right:1px solid #efefef; border-bottom:1px solid #efefef;}
.shortCut ul li:nth-child(3) {border-bottom:1px solid #efefef;}
.shortCut ul li:nth-child(5) {border-left:1px solid #efefef;border-right:1px solid #efefef;}
.shortCut ul li:before{content:"";display:block;margin:0px auto 7px;width:40px;height:45px;}

.shortCut ul li.a1:before{background:url(../../img/main/icon01.png) no-repeat}
.shortCut ul li.a2:before{background:url(../../img/main/icon02.png) no-repeat}
.shortCut ul li.a3:before{background:url(../../img/main/icon03.png) no-repeat}
.shortCut ul li.a4:before{background:url(../../img/main/icon04.png) no-repeat}
.shortCut ul li.a5:before{background:url(../../img/main/icon05.png) no-repeat}
.shortCut ul li.a6:before{background:url(../../img/main/icon06.png) no-repeat}



.right_login {border:1px solid #dedede; background:#f8f8f8; }
.right_login ul.login_s {background:#fff; padding:5px 0;}
.right_login ul.login_s li {font-family:'Malgun Gothic';display:inline-block; width:49%; text-align:center; font-size:15px; font-weight:600; line-height:20px; padding:20px 0 20px 30px;}
.right_login ul.login_s li a {color:#1f1f1f;}
.right_login ul.login_s li:nth-child(1){ background:url(../../img/main/mem_icon01.png) 30px 25px no-repeat;  }
.right_login ul.login_s li:nth-child(2){background:url(../../img/main/mem_icon02.png) 30px 25px no-repeat; border-left:1px solid #dedede;}


.right_login ul.login_b {background:#f8f8f8;  text-align:center; height:29px; padding:5px 20px; border-top:1px solid #dedede; margin-top:-10px;}
.right_login ul.login_b li {display:inline-block;  text-align:center; font-size:12px;  line-height:20px; font-family:'Malgun Gothic'; padding-left:10px;}
.right_login ul.login_b li:nth-child(1) {font-weight:bold;  background:url(../../img/main/arrow_o.png) left 6px no-repeat;}
.right_login ul.login_b li:nth-child(2) { background:url(../../img/main/arrow_g.png) left 6px no-repeat; margin:0 2px;}
.right_login ul.login_b li:nth-child(3),nth-child(4) { padding-left:0;}

.right_list {border:0px solid #dedede; margin-top:10px;}
.right_list h4{text-align:center; font-family: 'GmarketSansMedium'; padding:8px 0;}
.right_list h4 a{display:table-cell;text-align:center;width:100%;height:20px;vertical-align:middle;margin-bottom:-1px;font-size:18px;letter-spacing:-.5px;color:#222}
.right_list h4 span {color:#fd6f23;}

.subtable { width:100%; margin:0px auto; font-family:'Malgun Gothic';}
.subtable tr th {text-align:center; background:#f6f6f6; color:#4d4d4d; font-size:13px; font-weight:500; padding:5px 0; }
.subtable tr td { padding:3px 0; background:#fff; line-height:26px; color:#4d4d4d; text-align:center;font-size:13px; font-weight:400; letter-spacing:-0.03em;}

.subtable2 { width:100%; margin:0px auto; font-family:'Malgun Gothic';}
.subtable2 tr th {text-align:center; background:#f6f6f6; color:#4d4d4d; font-size:13px; font-weight:500; padding:5px 0; }
.subtable2 tr td { padding:3px 0; background:#fff; line-height:26px; color:#4d4d4d; text-align:center;font-size:13px; font-weight:400; letter-spacing:-0.03em;}

@media (max-width: 1200px) {
     .index-content {padding-top: 0px;	width:100%; margin:0 auto;}
	 
	 .index-01 {width:100%;}
     .index-02 {float:left;width:48%;}
     .index-03 {display:inline-block; width:49%;}

	 .main_banner {width:100%;}
	 .main_banner img {width:100%;}

	 .notice_area {margin-top:40px;	position:relative;	float: none;	width: 100%;}
	 .notice_area img {width:100%;}
	 .notice_area .bx-controls-direction {position:relative;  top: 0px; z-index:10}

	 .pointAreaWrap{float:left;width:50%; margin-bottom:10px;}
	 .main_tab {width:48%; display:inline-block; margin-top:0; margin-bottom:10px;}
	 .orderpage_tabmenu_container {display:block; width:100%; margin-top:10px; }
}

@media (max-width: 767px) {
     .index-content {padding-top: 0px;	width:100%; margin:0 auto;}
	 
	 .index-01 {width:100%;}
     .index-02 {width:100%; margin-bottom:10px; margin-left:0; display:none;}
     .index-03 {width:100%; display:none;}

	 .main_banner {width:100%;}
	 .main_banner img {width:100%;}

	  .notice_area {margin-top:10px;}
	  .notice_area .bx-controls-direction {position:relative;  top: 70px; z-index:10}

	 .pointAreaWrap{float:none;width:100%; display:none;}
	 .main_tab {width:100%; display:none;}
	 .orderpage_tabmenu_container {display:block; width:100%; margin-top:10px; }
}



.bn_top_list {	background: #fafafa;	padding: 15px 0;	overflow: auto}
.main_section {	position: relative;	margin: 0 auto;	width: 1200px;}
/*main banner list*/
.bnList {	position: relative;	overflow: visible}
.bnList>li {	position: relative;	float: left;	background: #fff;}
.bnList>li a {	text-decoration: none;}
.bnList .item .logo {	margin: 0 0 10px 0;	text-align: center;	height: 70px;	*height: 70px; /* padding:24px 0; */	font-size: 24px;	font-family: "NanumGothicBold";	line-height: 70px;	overflow: hidden;	text-overflow: ellipsis;	white-space: nowrap;	border-bottom:#ededed solid 1px;}
.bnList .item .logo>span {	display: inline-block;	width: 0;	vertical-align: middle;	height: 70px;}

.bnList .item .title {	margin: 0 15px;	font-size: 16px;	padding: 10px 0;	font-family:'Malgun Gothic';	overflow: hidden;	text-overflow: ellipsis;	white-space: nowrap;}
.bnList .item .logo img {	vertical-align: middle;} /*height:43px; width:auto;  이미지 값 js설정*/
.bnList .item .txt {font-family:'Malgun Gothic';	margin: 0 15px;	font-size: 13px;	z-index: 10;	overflow: hidden;	height: 38px;	*height: 38px;	text-overflow: ellipsis;	display: -webkit-box;	-webkit-line-clamp: 2; /* 라인수 */	-webkit-box-orient: vertical;	word-wrap: break-word;}
.bnList .item .b_txt {font-family:'Malgun Gothic';	margin: 4px 15px 3px;	font-size: 12px;	color: #8d8d8d} /*12*/
.bnList .item .b_txt span {	color: #ccc;	display: inline-block;	margin: 0 10px;	font-family:'Malgun Gothic';}

.bnList .item .date {font-family:'Malgun Gothic';	position: absolute;	left: 15px;	bottom: 10px;	font-size: 11px;}
.bnList .item .date .fc-999 {	font-size: 9px;	font-family: 'Verdana'}
.bnList .item .date .i_today {	color: #ff0000;	font-weight: bold;}
.bnList .item .date .i_allday {	color: #ec0626;	font-weight: bold;}

.bnList .item .like {	position: absolute;	right: 0px;	bottom: 0px;}
.like {	display: inline-block;	vertical-align: middle;	margin-right: 0px;	width: 14px;	height: 13px;	background: url(../../img/main/icon_like.png) no-repeat 0 0;}
.like.on {background: url(../../img/main/icon_like.png) no-repeat -16px 0}

.bnList .item .hover {	position: absolute;	cursor: pointer;}
.bnList .item.on .txt {	text-decoration: none;}
.bn_tag {	position: absolute;	left: 0;	top: -3px;}

.bn_top_list .bnList_wrap {	float: right;	width: 1200px;	overflow: hidden;	padding: 0 0 0 5px;}
.bn_top_list .bnList_wrap ul.bnList {	width: 1200px;}
.bn_top_list .bnList_wrap ul.bnList li {	width: 234px;	height: 199px;	border:#e9c3bf solid 1px;	margin:0 5px 5px 0;}
.bn_top_list .bnList_wrap ul.bnList li .hover {	position: absolute;	width: 234px;	height: 199px;}
.bn_top_list .bnList_wrap ul.bnList li .hover:hover {	width: 234px;	height: 200px;	border: #fd6f22 solid 3px;}
.bn_top_list .notice_area {	position:relative;	float: left;	width: 264px;}
.bn_top_list .bnList .item .txt {	text-decoration: none}


@media (max-width: 1200px) {
     .main_section {	position: relative;	margin: 0 auto;	width: 100%;}
	 .bn_top_list .bnList_wrap {	float: none;	width: 100%;	overflow: hidden;	padding: 0 0 0 5px;}
	 .bn_top_list .bnList_wrap ul.bnList {	width: 100%;}
	 .bn_top_list .bnList_wrap ul.bnList li {	width: calc(100% /2 - 5px);}
	 .bn_top_list .bnList_wrap ul.bnList li .hover {width: 100%;}
	 .bn_top_list .bnList_wrap ul.bnList li .hover:hover {	width: 100%;	}
}

@media (max-width: 1000px) {
     .main_section {	position: relative;	margin: 0 auto;	width: 100%; display:none;}

}

#listForm {width:1200px; margin:30px auto; }
#listForm h3 {text-align:left;  font-family: 'GmarketSansMedium'; font-size:22px; color:#000; letter-spacing:-1px; margin-bottom:20px;}
#listForm h3 span {color:#fd6f22;}

.list_b {border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin-top:-1px;}
.list_b ul {display:inline-block; letter-spacing:-1px; padding:10px 0; }
.list_b ul.list_name {width:20%; vertical-align:top; padding-left:20px;}
.list_b ul.list_name li {font-size:20px; color:#000;}

.list_b ul.list_detail {width:60%; border-left:1px solid #ddd; vertical-align:top; padding:10px 20px;}
.list_b ul.list_detail li:nth-child(1) {font-size:20px; color:#000;}
.list_b ul.list_detail li:nth-child(2) {font-size:15px; color:#8f8f8f; padding:5px 0 10px 0; }
.list_b ul.list_detail li:nth-child(3) {font-size:18px; color:#fd7b3b;}

.list_b ul.list_button {width:10%;vertical-align:top; }
.list_b ul.list_button li:nth-child(2) {font-size:16px; font-weight:400; color:#000; padding-top:50px; cursor:pointer;}

.list_b ul.list_button2 {float:right;vertical-align:top; text-align:right;}
.list_b ul.list_button2 li:nth-child(1) {text-align:center; padding:7px 20px; color:#fff; background:#fd6f23;}
.list_b ul.list_button2 li:nth-child(1) a {color:#fff; text-decoration: none;}


.details_con ul ul {
  display: none;
}
.details_con ul li.tab ul {
  display: block;
}



#panel {padding:20px; letter-spacing:-1px;}
#panel h4 {font-size:25px; color:#000; padding-bottom:30px; }
#panel ul {display:inline-block; width:40%; vertical-align:top;}
#panel ul li {font-size:15px; font-weight:400; color:#000; padding-bottom:15px;}
#panel ul li span {display:inline-block; width:90px; color:#9c9c9c;}
#panel ul li dt {display:inline-block; width:20%; color:#9c9c9c; vertical-align:top;}
#panel ul li dd {display:inline-block; width:78%; color:#000;}
#panel a:hover {text-decoration:none;}

.desc {position: absolute; left:50%; margin-left:330px; margin-top:-80px;}

details {  transition: height 1s;}

details[open] {height: 450px;}

details > summary {  list-style: none;  padding: 10px;  margin: 0;  cursor: pointer;  display: block;}
details > summary::-webkit-details-marker {  display: none;}



.button_3 {margin-top:20px; margin-bottom:20px;}
.button_3 a {font-size:16px; text-decoration: none;}
.button_3 a.bt01 {text-align:center; padding:15px 30px; color:#fff; background :#fd6f23; }
.button_3 a.bt02 {text-align:center; padding:15px 30px; color:#fff; background :#ff614d; }
.button_3 a.bt03 {text-align:center; padding:15px 30px; color:#fff; background :#676767; }

.like2 {	display: inline-block;	vertical-align: middle;	margin-right: 0px;	width: 30px;	height: 28px;	background: url(../../img/main/like.gif) no-repeat 0 0;}
.like2.on {	background: url(../../img/main/like.gif) no-repeat -16px 0}


@media (max-width: 1200px) {
     #listForm {width:100%; margin:50px auto; }
	 .list_b ul.list_detail {width:50%;}
	 .list_b ul.list_button2 {margin-right:20px;}
	 .desc {position: absolute; left:50%; margin-left:150px; margin-top:-80px;}
	 .preview i {margin-left:150px; margin-top:-70px;}

}

@media (max-width: 800px) {
     #listForm {margin:0 auto;}
	 #listForm h3 {font-size:16px; background:#f8f9fb; padding:10px 20px; margin-top:0px; margin-bottom:0;}
	 .list_b ul {display:block; }
	 .list_b ul.list_name {width:100%;}
	 .list_b ul.list_detail {width:100%; padding:0 20px;}

	 .list_b ul.list_button {display:block; width:50%;vertical-align:top; padding-left:20px;}
	 .desc {position: absolute; left:0%; margin-left:50px; margin-top:-67px;}
	 
	 .list_b ul.list_button2 {float:right;vertical-align:top; text-align:right;margin-top:-105px; }

	 .list_b ul.list_detail li:nth-child(1) {font-size:17px; color:#000;}
	 .list_b ul.list_detail li:nth-child(2) {font-size:14px; color:#8f8f8f; padding:6px 0 10px 0; }
	 .list_b ul.list_detail li:nth-child(3) {font-size:16px; color:#fd7b3b;}

	 #panel h4 {font-size:20px; padding-bottom:0px; }
	 #panel ul {display:inline-block; width:49.5%; vertical-align:top;}
	 #panel ul li span {display:block; width:100px;}
	 #panel ul li {font-size:13px; }
	 #panel ul li dt {display:block; width:100%; }
	 #panel ul li dd {display:block; width:100%; }

	 .button_3 {margin-top:20px;}
	 .button_3 a.bt01 {text-align:center; padding:15px 20px; }
	 .button_3 a.bt02 {text-align:center; padding:15px 20px; }
	 .button_3 a.bt03 {text-align:center; padding:15px 20px; }

	 details[open] {height: 500px;}

	 

}










/* Slick Slider Css Ruls */

.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: 1px #e3e3e4 solid;
}

.img-fill img {
    height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none
}


/* Slider Theme Style */

.Slick_wrap {
    /*  padding: 0 15px;*/
    padding-bottom: 14px;
}

.Slick_wrap:after,
.Slick_wrap .Head:after {
    content: '';
    display: block;
    clear: both;
}

.s-Arrows {
    float: right;
}

.Slick-Next,
.Slick-Prev {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 6px;
    background: #fff;
    border: 1px #9b9c9c solid;
    color: #000;
    /*  margin-left: 1px;*/
    cursor: pointer;
    font: 20px/30px FontAwesome;
    font-weight: 800;
    /*  font: 18px/36px FontAwesome;*/
    text-align: center;
    transition: all 0.5s;
}

.Slick-Next {
    border-left: 0;
}

.Slick-Prev {}

.Slick-Next:hover,
.Slick-Prev:hover {
    background: #9b9c9c;
    color: #fff;
}

.Slick-Next:before {
    content: '\f105'
}

.Slick-Prev:before {
    content: '\f104'
}

.SlickCarousel {
    margin: 0 -7.5px;
    margin-top: 10px;
}

.ProductBlock {
    padding: 0 7.5px;
}

.ProductBlock .img-fill {
    /*  height: 200px;*/
}

.ProductBlock h3 {
    font: 15px/36px RalewayR;
    color: #393939;
    margin-top: 5px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .25);
    display: none;
}

.Slick_wrap .text_wrap {
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 3px;
    padding-top: 3px;
}

.bg-gray {
    margin-top: 30px;
    background-color: #2f2f2f;
    border-radius: 0.4em;
    color: #e3e3e3;
    padding: 12px 20px;
}



/*  sub layout */


/* 비쥬얼 */

@keyframes zoom {
    0% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.0, M12=0, M21=0, M22=1.0, SizingMethod='auto expand')";
        filter: progid: DXImageTransform.Microsoft.Matrix(M11=1.0, M12=0, M21=0, M22=1.0, SizingMethod='auto expand');
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
        filter: progid: DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
    }
}





.s_visual_wrap {
    position: relative;
    /*            min-width: 1100px;*/
    overflow: hidden;
}

.s_visual_wrap .slide {
    position: relative;
    height: 452px;
    top: 0;
    /*            min-width: 1100px;*/
}

.s_visual_wrap .slide ul {
    padding: 0;
    margin: 0;
    margin-top: -100px;
    padding-top: -100px;
    top: -100px;
}

.s_visual_wrap .slide li {
    height: 452px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    
    left: 0;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    -moz-transform-origin: center center;
    transform-origin: center center;
    /*
  -webkit-animation: zoom 20s ease-in-out infinite alternate;
  -moz-animation: zoom 20s ease-in-out infinite alternate;
  -o-animation: zoom 20s ease-in-out infinite alternate;
  -ms-animation: zoom 20s ease-in-out infinite alternate;
*/
    animation: zoom 3s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; 
    padding: 0;
    margin: 0;
    top: 0;

}

.s_visual_wrap .slide .content {
    top: 50%;
    position: relative;
    z-index: 1;
    text-align: center;
    animation: zoom 3s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.s_visual_wrap .slide .content h1 {
    font-size: 38px;
    font-weight: 800;
    color: #fff;
    font-family: 'NanumSquare', '맑은 고딕', 'Nanum Gothic', 'Malgun Gothic', 'Ubuntu', '돋움', dotum, sans-serif;
    /*        padding-bottom: 0;*/
    margin-bottom: 12px;
    margin-top: 0;
    padding-top: 0;
}

.s_visual_wrap .slide .content h1 span {
    font-weight: 100;
}

.s_visual_wrap .slide .content p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: 'NanumSquare', '맑은 고딕', 'Nanum Gothic', 'Malgun Gothic', 'Ubuntu', '돋움', dotum, sans-serif;
}

.s_visual_wrap .line {
    margin: 0 auto;
    width: 150px;
    height: 3px;
    background-color: #ef8a12;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-name: s-title-line;
    margin-top: 15px;
    animation-fill-mode: forwards;
}
.s_visual_wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@keyframes s-title-line {
    from {
        width: 0%;
        height: 3px;
    }
    to {
        width: 150px;
        height: 3px;
        opacity: 1;
    }
}




/* 서브비주얼 마감*/


/* 서브 중앙메뉴 */

.sub_three_map_wrap {
    margin-top: -33px;
    position: relative;
}

.sub_three_map_wrap .sub_three_map {
    background-color: #fff;
    border-left: 1px #e3e3e3 solid;
    border-right: 1px #e3e3e3 solid;
    /*    border-top: 1px #e3e3e3 solid;*/
}

.sub_three_map_wrap .sub_three_map .col-md-4,
.sub_three_map_wrap .sub_three_map .col-md-6,
.sub_three_map_wrap .sub_three_map .col-md-6 {
    padding: 0;
    margin: 0;
    border-bottom: 1px #e3e3e3 solid;
}

.sub_three_map_wrap .sub_three_map .home {
    background: url('../../img/sub/box-home.png');
    background-position: 10% 50%;
    background-repeat: no-repeat;
    color: #000;
    line-height: 32px;
    display: block;
    /*    font-size: 16px;*/
    /*    padding-left: 40px;*/
    background-color: #fafafa;
    padding: 16px;
    padding-left: 68px;
    font-weight: 700;
    font-size: 15px;
    border-top: 1px #e3e3e3 solid;
}

.sub_three_map_wrap .sub_three_map .menus {
    border-left: 1px #e3e3e3 solid;
    border-right: 1px #e3e3e3 solid;
    background-color: #fafafa;
    border-top: 1px #e3e3e3 solid;
}

.sub_three_map_wrap .sub_three_map .last {
    background-color: #fff;
    border-bottom: 0;
    display: block;
    border-top: 2px #000 solid;
    display: inline-block;
}

.sub_three_nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 9
}

.sub_three_nav ul li {
    display: block;
}

.sub_three_nav ul li a,
.sub_three_nav ul li a:visited {
    font-weight: 400;
    font-size: 15px;
    display: block;
    padding: 16px;
    padding-left: 30px;
    color: #000;
    text-decoration: none;
    transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    /*    font-weight: 400;*/
    text-transform: capitalize;
    line-height: 32px;
}

.sub_three_nav ul li a:hover {
    /*    color: #000;*/
}

.sub_three_nav .dropdown-active {
    background-color: #484b50;
    font-weight: 600;
}

.sub_three_nav .dropdown-active a,
.sub_three_nav .dropdown-active a:visited {
    color: #000;
}

.sub_three_nav ul ul {
    position: absolute;
    background-color: #37393D;
    width: 100%;
}

.sub_three_nav ul ul li {
    display: block;
}

.clickSlide span {
    float: right;
    padding-top: 27px;
    padding-right: 25px;
    font-weight: 100;
    color: #3d3d3d;
}

.sub_three_nav ul ul li a,
.sub_three_nav ul ul li a:visited {
    display: block;
    padding: 12px !important;
    color: #c9c9c9 !important;
    border-bottom: 1px #2b2c30 solid;
    font-weight: 400;
    padding-left: 22px !important;
    font-size: 14px;
}

.sub_three_nav ul ul li a:hover {
    background-color: #2b2c30;
    color: #000;
}

.sub_three_nav ul ul li:first-child {
    border-top: 1px #2b2c30 solid;
}

.sub_three_nav ul ul li:last-child {
    border-bottom: 0 !important;
}

.sub_three_map_wrap .sub_three_map .depth1,
.sub_three_map_wrap .sub_three_map .depth2 {
    color: #fff;
    background: url('../../img/sub/box-down.png');
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

.sub_three_map_wrap .sub_three_map .depth2 a {
    font-weight: 900;
}


/* 서브 중앙메뉴 마감 */

#sub_content {
    margin-top: -15px;
}

#sub_content .breadcrumb_wrap {
    /*    border-top: 1px #eee solid;*/
    border-bottom: 1px #eee solid;
    width: 100%;
    background-color: transparent;
    background-color: #fff;
}

#sub_content .breadcrumb_wrap .sub_tab {}

#sub_content .breadcrumb_wrap .sub_tab > li:first-child {
    border-left: 1px #eee solid;
    background: none;
    padding-right: 0;
    /*    background-color: #000;*/
}

#sub_content .breadcrumb_wrap .sub_tab > li:first-child span {
    /*    color: #fff;*/
}

#sub_content .breadcrumb_wrap .sub_tab > li {
    padding: 0;
    margin: 0;
    float: left;
    border-right: 1px #eee solid;
    cursor: pointer;
    background: url('../../img/main/arr.png') 90% 50%;
    background-repeat: no-repeat;
    padding-right: 15px;
}

#sub_content .breadcrumb_wrap .sub_tab > li:hover {
    /*    background-color: #f7f7f7;*/
}

#sub_content .breadcrumb_wrap .sub_tab > li > a {
    font-size: 15px;
    line-height: 58px;
    padding-left: 35px;
    padding-right: 35px;
    height: 58px;
    display: block;
    margin: 0;
}

#sub_content .breadcrumb_wrap .sub_tab > li:last-child {
    font-weight: 600;
}

#sub_content .breadcrumb_wrap .sub_tab .glyphicon-home {
    font-size: 18px;
    padding-top: 20px;
}

#sub_content .breadcrumb_wrap .sub_tab .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000;
}

#sub_content .breadcrumb_wrap .sub_tab .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    border: 1px #eee solid;
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

#sub_content .breadcrumb_wrap .sub_tab .dropdown-menu li:last-child {
    border-bottom: 0;
}

#sub_content .breadcrumb_wrap .sub_tab .dropdown-menu li {
    border-bottom: 1px #eee solid;
}

#sub_content .breadcrumb_wrap .sub_tab li a,
#sub_content .breadcrumb_wrap .sub_tab li a:active,
#sub_content .breadcrumb_wrap .sub_tab li a:hover {
    text-decoration: none;
    color: #000;
}

#sub_content .breadcrumb_wrap .sub_tab > li > a > span.caret {
    text-align: right;
}

#sub_content .breadcrumb_wrap .sub_tab li ul li a:hover {
    background: #f7f7f7 !important;
}

#sub_content .breadcrumb_wrap .sub_tab li ul li span {
    float: right;
    font-size: 11px;
    color: #5c5c5c;
    line-height: 27px;
}

#sub_content .breadcrumb_wrap .sub_tab li ul li a {
    font-size: 13px;
    line-height: 32px;
    background-color: #fff;
}

#sub_content .breadcrumb_wrap .breadcrumb {
    background-color: #fff;
    padding: 0;
    margin-bottom: 0;
    padding-top: 18px;
}

#sub_content .breadcrumb_wrap .breadcrumb li,
#sub_content .breadcrumb_wrap .breadcrumb li a {
    font-size: 12px;
    line-height: auto;
    color: #000;
}

#sub_content .page-header {
    margin-top: 70px;
    /*    padding-bottom: 30px;*/
    text-align: center;
    clear: both;
    border-bottom: 0;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#sub_content h1 {
    font-size: 25px;
    color: #272727;
    display: inline-block;
    padding-bottom: 10px;
	padding-top:25px;
	letter-spacing:-1px;
	font-family: 'yg-jalnan';
}

#sub_content .page-header .line {
    border-bottom: 1px #fc7d11 solid;
    width: 120px;
    /*    width: 100%;*/
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
    /*    display: none;*/
}

#sub_content .page-header p {
    font-size: 15px;
    /*    padding-left: 12px;*/
}


/* footer */

.footer {padding:20px 0;   margin-top: 30px;    border-top:3px solid #4f545b;}
.footer .footer-menu {    padding-top: 22px;}
.footer .footer-menu li {display:inline-block; padding-right:10px;}
.footer .footer-menu li a {    font-size: 12px;    font-weight: 400;    color: #6e6e6e;}
.footer-right {float:right; text-align:center; margin-top:-80px; border-left:1px solid #959595;}
.footer-right li {display:inline-block; font-family: 'GmarketSansMedium'; font-size:13px; margin-left:60px;}
.footer-right li span {display:block;}
.footer-right li br { font-family: 'NotoSans';}
.footer-right li img {padding-bottom:7px;}
.footer-right li a {text-decoration: none;}

.footer p.logo {    float: left;    margin-top: 23px; margin-right:50px;}
.footer p.logo img {    width: 100%;}

.footer address {	margin-top: 5px;    font-size: 12px;    line-height: 20px;    color: #6f6f6f}
.footer p.copyright {    margin-top: 0;    padding-top: 0;    color: #bbbbbb;    font-size: 13px;}

@media (max-width: 1200px) {
.footer-right {float:right; text-align:center; margin-top:-80px; border-left:0px solid #ddd;}
.footer-right li {margin-left:20px;}
}

@media (max-width: 992px) {
    
    #header_wrap {height:130px;}
	#header_wrap.top_menu_06 h1 { overflow: hidden;	margin:0 auto; width:100%; text-align:center;  padding-top: 30px; }
	#header_wrap.top_menu_06 h1 a {background-size:23%;}

	.footer-right {float:none; text-align:center; margin-top:25px; border-left:0px solid #ddd;}
	
    #sub_content .breadcrumb_wrap .breadcrumb {
        height: 20px;
        min-height: 20px;
        display: none;
    }
    #sub_content .breadcrumb_wrap .sub_tab > li > a {
        font-size: 14px;
        line-height: 60px;
        padding-left: 25px;
        padding-right: 25px;
        height: 60px;
    }
    .animate {
        opacity: 0;
    }
    .s_visual_wrap .slide {
        padding-left: 15px;
        padding-right: 15px;
    }
    .s_visual_wrap .slide .content h1 {
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    font-family: 'NanumSquare', '맑은 고딕', 'Nanum Gothic', 'Malgun Gothic', 'Ubuntu', '돋움', dotum, sans-serif;
    /*        padding-bottom: 0;*/
    margin-bottom: 12px;
    margin-top: 0;
    padding-top: 0;
}

.s_visual_wrap .slide .content p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
   
}

@media (max-width: 767px) {
    
    #header_wrap.top_menu_06 h1 a {background-size:22%;}
	
	.visual_bottom {
        display: none;
    }
    .index-content section.company .company_story dl dt {
        font-size: 26px;
    }
    .index-content section.company .company_story dl dt span {
        font-size: 26px;
        color: #607fab;
    }
    section.product .content h2 {
        font-size: 32px;
        color: #fff;
    }
    section.product .content h2 p {
        padding-top: 5px;
        font-size: 16px;
        color: #fff;
    }
    .product_bg {
        height: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.3);
    }
    section.info-two #tab_wrap {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    section.info-two {
        padding-top: 40px;
    }
    section.info-twop.text {
        font-size: 20px;
        line-height: 27px;
    }
    section.info-two.latest_wrap {
        margin-top: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
	
    #sub_content .page-header small {
        display: none;
    }
    #sub_content .breadcrumb_wrap .container {
        padding: 0;
        margin: 0;
    }
    #sub_content .breadcrumb_wrap .sub_tab > li:first-child a {
        padding-left: 15px;
        padding-right: 15px;
    }
    #sub_content .breadcrumb_wrap .sub_tab > li > a {
        padding-left: 35px;
        padding-right: 35px;
    }
    #sub_content .page-header {
        /*        margin-bottom: 20px;*/
    }
    section.info-two .product .arrows_wrap {
        margin-top: 10px;
    }

	
	.footer-right li img {width:40px;}
	.footer-right li {font-size:12px; margin-left:0px; margin:0 10px;}
}

@media (max-width: 480px) {


	#header_wrap.top_menu_06 h1 a {background-size:37%;}
	
	.footer p.logo {
        float:none;
		text-align:center;
		margin-right:0;
    }
	.footer p.logo img {width:95px;}
}